<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="b1" class="beans.BeanOne"/>
    <bean id="b2" name="beanTwo" class="beans.BeanTwo"/>
    <bean id="b3" class="beans.BeanThree">
      <property name="beanOne" ref="b1"/>
        <property name="beanTwo" ref="b2"/>
        <property name="message" value="this is bean three!!!"/>
    </bean>
    <bean id="bi" class="beans.BeanOne$InnerBean"/>
    <bean id="bs" class="beans.BeanTwo" factory-method="createWorker"/>
    <bean id="bprop" class="beans.BeanFromProperties">
        <property name="props">
            <value>
               bean.prop.name=beanFromProperties
                bean.prop.message=bprop message
            </value>
        </property>
    </bean>

    <alias name="beanTwo" alias="secondBean"/>
    <alias name="b1" alias="primaryBean"/>
</beans>